.channel-index-wrapper{
  display:flex;
  position: relative;
  z-index: 2;
  flex-direction: column;
  font-size: 16px;
  justify-content: space-between;
  max-width: 232px;
  width: 232px;
  height: 100%;
  outline: 0;
  background-color: rgb(47,48,54);
}
.server-invite-code{
  display:hidden;
}
.active{
  color:white;
}
.channel-list{
  padding-top: 22px;
}
.DM-list img {
  max-height: 20px;
  max-width: 20px;
  background-color: tomato;
  border-radius: 50%;
  margin-right: 5px;
  box-sizing: border-box;
  padding: 2px;
  margin-top: 6px;

}
.DM-list{
  width: 100%;
}
.DM-list{
  width: 100%;
}

.channel-index-header{
  display:flex;
  color: white;
  box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 16px;
  padding-right: 12px;
  width: 204px;
  height: 48px;
  background-color: rgba(39,42,48,.6);
  overflow-x: hidden;
  h2{
    width:204px;
    display:flex;
    justify-content: space-between;
    overflow:hidden;
    text-overflow: ellipsis;
    div{
      cursor:pointer;
      height:100%;
    }
    div:hover{
      color: rgba(255,255,255,.7);
    }
  }
}

.channel-list > div >  h2 {
  font-size: 12px;
  justify-self: center;
  margin: 1px 0 1px 8px;
  overflow: hidden;
  padding: 0 8px;
}
.channel-list > div > .fas {
  font-size: 12px;
  align-self: center;
  overflow: hidden;
  padding: 0 8px;
}
.channel-list > div > .fas:hover{
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.channel-list > div{
 display: flex;
 justify-content: space-between;
 width: 100%;
}
.channel-list ul{
  margin-top: 5px;
}
.channel-list li{
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 32px;
  margin: 1px 0 1px 8px;
}
.channel-list a{
  align-items: center;
  display: flex;
  flex-direction: row;
  text-overflow: ellipsis;

}
.channel-name-container > p{
  text-overflow: ellipsis;
  max-width: 60vw;
  overflow: hidden;
}
.channel-header{
  max-width: 100%;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.channel-name{
  text-overflow: ellipsis;
  max-width: 167px;
  max-height: 34px;
  overflow: hidden;
}
.channel-footer{
  height: 52px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 1px;
  background-color: rgba(32, 34, 37, 0.3);
  display: flex;
  align-items: center;
  img{
    max-height: 30px;
    max-width: 30px;
    background-color: #7289da;
    border-radius: 50%;
    margin-right: 8px;
    padding:3px;
  }
}
.channel-index-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.channel-index-ul a{
  width: 90%;
  border-radius: 3px;
  box-sizing: border-box;
      padding: 0 8px;
      margin-bottom: 4px;
}
.channel-index-ul a:hover{
  border-radius: 3px;
  background-color: rgba(255,255,255,.1);
  color: rgba(255,255,255,.7);
}

.channel-index-ul li{
    display:flex;
      align-items: center;
    justify-content: flex-start;
}
.channel-index-ul .active{
  background-color: rgba(255,255,255,.4);
}
.channel-index-ul .active:hover{
  background-color: rgba(255,255,255,.4);
  color: white;
}