
.session-div{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  height: 100%;
  background-image: url(session_background.jpg);
  background-size: cover;
  background-position: center bottom;
  position: relative;
}

.session-form{
  display: flex;
  position: relative;
  top: 95px;
  flex-direction: column;
  justify-content: center;
  background: #36393f;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
  box-sizing: border-box;
  color: #72767d;
  font-size: 18px;
  padding: 40px;
  width: 480px;
  font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.session-div a{
  color: #7289da;
  text-decoration: none;
}
.session-div  a:hover{
  text-decoration: underline;
}
.session-form > strong {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 400;
}
.session-form h1{
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 8px;
  color: white;
}

.session-form input {
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 3px;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 12px;
 
}
.session-input {
  height: 40px;
  width: 95%;
  padding: 0px;
  cursor: text;
  color: whitesmoke; 
  background-color: rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.3);
}
.session-submit{
  border: none;
  width: 98%;
  background-color: #7289da;
  color: #fff;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  height: 44px;
}
.bad-input{
  border:rgb(237,61,72);
}
.session-input:focus {
  outline:none;
  caret-color: rgb(8, 8, 8);
  color: white; 
}
.session-submit:hover{
  background-color: #6578bf;
}
.session-input:hover{
  border: #040405  1px solid;
}
.session-input:focus {
  border-color: #7289da;
}
@keyframes fadeIn{
  0%{
      transform: translateY(-45px);
      opacity: .2;
      }
  75%{
      transform: translateY(20px);
      opacity: .9;
      }
  100%{
      transform: translateY(0px);
      opacity: 1;
      }
}
@keyframes fadeOut{
  100%{
    transform: translateY(-60%);
    opacity: 0;
  }
}
.fadeOut{
  animation: fadeOut 10s forwards 0s ease;
}
.session-form{
  animation: fadeIn .3s forwards 0s ease;
}