.homepage-wrapper{
  color: rgba(255,255,255,.6);
  font-size: 48px;
  display: flex;
  height: 100%;
}
.server-bar::-webkit-scrollbar{
 width: 0;
}
.server-bar::-webkit-scrollbar-thumb{
  background: rgba(255,255,255,0);
}
.server-bar{
  height: 100%;
  min-width: 70px;
  position: relative;
  display:flex;
  flex-direction: column;
  background-color: #202225;
  box-sizing: border-box; 

}
.log-splash{
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  font-size: 18px; 
  font-weight: 400;
}
.log-splash img{
  min-height: 50%;
}
.log-splash header{
  height: 56px;
}

.log-splash > div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.log-splash h1{
  margin-bottom: 28px;
}
ul{
  list-style: none;
}

.server-divide{
  height: 2px;
  width: 51px;
  background: #2f3136;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 9px;
}

.server-bar li:hover{
  cursor: pointer;
}

.server-icon, .server-bar-logo{
  z-index:1;
  height: 50px;
  width: 50px;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  outline: none;
  background-color: #2f3136;
  border-radius: 50%;
  transition: .25s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  overflow-x: visible;
}
.server-bar-logo{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgb(206,234,235);
}
.add-server, .log-out{
  display:flex;
  align-items: center;
  justify-content: center;
  transition: .25s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  border: 1px rgba(255,255,255,.3) dashed;
  background-color: none;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  width: 50px;
  position: relative;
  text-align: center;
}
.add-server:hover{
  border-color: rgba(255,255,255,.9);
  color: rgba(255,255,255,.9)
}
.server-name{
  color: rgba(255,255,255,.9);
  background-color: rgba(0,0,0,1);
  position: relative;
  top: -50px;
  left: 55px;
  display:none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  padding: 8px 11px;
  white-space: nowrap;
  z-index: 300000000;
}

.server-bar-logo:hover, .server-icon:hover{
  border-radius: 15px;
  background-color: rgba(255,255,255,.45);

  .server-name {
    display: inline;
  }
}

div > .active > li{
  border-radius: 15px;
  background-color: rgba(255,255,255,.45);
}
div > .active .server-selected{
  position: absolute;
  background: white;
  height: 53px;
  width: 100px;
  border-radius: 15px;
  left: -95px;
  z-index: 20;
  transform: translateY(-51px);



}
.server-bar ul{
  position: relative;

  width: 400px;
  height: 100%;
  overflow-y: scroll;

  overflow-x: hidden;
}
.server-bar > div{
  position: absolute;
}
.server-bar > div > ul > div >  a{
  z-index: 1;
  max-width: 50px;
}
.server-bar > div > ul > a > li{
  position: relative;
  max-width: 50px;
  max-height: 50px;
}

.channel-header{
  width:100%;
  box-sizing: border-box;
}
.server-list a{
  max-width: 50px;
}
.server-list li{
  margin:10px 0 0 10px;
}