.homepage-wrapper{
  color: rgba(255,255,255,.6);
  font-size: 48px;
  height: 100%;
  display: flex;


}
::-webkit-scrollbar{
 width: 0;
}
::-webkit-scrollbar-thumb{
  background: rgba(255,255,255,0);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,.8); 
}
.server-bar{
  height: 100vh;
  width: 70px;
  position: relative;
  display:flex;
  flex-direction: column;
  padding: 10px 0 0 10px;
  background-color: #202225;
  box-sizing: border-box; 

}

ul{
  list-style: none;
}

.server-divide{
  height: 3px;
  width: 35px;
  background: #2f3136;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-left: 9px;
}

.server-bar li:hover{
  cursor: pointer;
}
.server-bar-logo{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
}
.server-icon, .server-bar-logo{
  z-index:1;
  height: 50px;
  width: 50px;
  margin-top: 8px;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  outline: none;
  background-color: #2f3136;
  border-radius: 50%;
  transition: .25s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  overflow-x: visible;
}
.add-server, .log-out{
  display:flex;
  align-items: center;
  justify-content: center;
  transition: .25s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  border: 1px rgba(255,255,255,.3) dashed;
  background-color: none;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  width: 50px;
  margin-top: 8px;
  position: relative;
  text-align: center;
}
.add-server:hover{
  border-color: rgba(255,255,255,.9);
  color: rgba(255,255,255,.9)
}
.server-name{
  color: rgba(255,255,255,.9);
  background-color: RGBA(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 55px;
  visibility: hidden;
  max-width: 300px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  padding: 8px 11px;
  white-space: nowrap;
  z-index: 91123123;
}

.server-icon:hover, .server-bar-logo:hover{
  border-radius: 15px;
  background-color: rgba(255,255,255,.45);

  .server-name {
    visibility: visible
  }
}

.active > li{
  border-radius: 15px;
  background-color: rgba(255,255,255,.45);
}
.server-bar ul{
  position: relative;
  width: 80vw;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.server-bar > div{
  height:100%;
}
.server-bar > div > ul > a{
  z-index: 1;
  max-width: 50px;
}
.server-bar > div > ul > a > li{
  position: relative;
  max-width: 50px;
}