// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message{
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;

}
.message > div {
  display: flex;
}
.message img{
  max-width: 40px;
  max-height: 40px;
  font-size: 14px;
  position: relative;
  border-radius: 50%;
  padding: 2px;
  background-color: #43b581;
  margin-right:30px;
  margin-left: 25px;
}
.message-content-header{
  display: flex;
  align-content: normal;
  align-items: baseline;
}
.message h3{
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
}
.message h4{
  color: hsla(0,0%,100%,.2);
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: .3rem;
  line-height: 20px;
}
.message-body{
  color: #dcddde;
  font-size: 0.9375rem;
  line-height: 1.3;
  user-select: text;
  white-space: pre-wrap;
  word-wrap: normal;
  margin-right: 10px;
}
.message{
  padding-bottom: 10px;
    padding-top: 20px;
  position: relative;
}
.message-body-append{
  color: #dcddde;
  font-size: 0.9375rem;
  line-height: 1.3;
  user-select: text;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-left: 99px;
  margin-right: 10px;
  position: relative;
}
.append-div{
  position: relative;

  top: -0.8vh;
}
.messageLineHeader{
  max-height: 0;
  width: calc(100% -25px);
  margin: 25px;
  border: .4px solid hsla(0,0%,100%,.2);
  box-sizing: border-box;
}