.modal-screen{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: center;

}
.form-container{
  position: relative;
  z-index: 5;
}
.default-server-modal h1{
  color: #7289da;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}
.server-actions h2{
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
}
.server-actions p{
  color: #99aab5;
  font-size: 14px;
  line-height: 20px;;
  margin-top: 16px;
  padding: 0 15px;
  text-align: center;
}
.default-server-modal{
    border-radius: 5px;
  background-color: whitesmoke;
  position: relative;
  width: 536px;
  height: 420px;
  padding: 34px 40px;
  display: flex;
  flex-direction: column;
}

.server-create{
  color: #2f3d70;
}
.server-actions{
  z-index: 12;
  display:flex;
  align-content: center;
  text-align: center;
   width: 536px;
  height: 420px;

}

.server-join{
  color: #3ca374;
}
.server-actions{
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: relative;

}
