.splash-page-wrapper{
  min-width: 1000px;
  background: #26262b;
  font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.splash-header-left > li{
  padding: 10px;
  margin: 5px;
}
.splash-header{
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}
.splash-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.splash-img{
  height: 32px;
}
.typeface{
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.splash-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:  #fff;
}

.splash-header-left{
  display: flex;
  position: relative;
}

.splash-content > h1{
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

.splash-content > p{
  opacity: .6;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 30px;
  max-width: 710px;
}

.splash-header-right{
  display: flex;
  align-items: center;
  margin-left: auto;

}

.splash-header-right > li{
  margin: 5px;
  padding: 5px;
  font-size: 18px;
}

.splash-header{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 30px;
  font-size: 14px;
  color: rgba(255,255,255,.75);
}

.splash-login-link{
  border: 2px solid rgba(255,255,255,0.75);
  border-radius: 20px;
  color: inherit;
  line-height: 24px;
  padding: 5px 17px 7px;
  font-size: 14px;
}

.splash-login-link:hover{
  border: 2px solid rgba(255,255,255,1);
}

.splash-page-wrapper li:hover{
  color: rgba(255,255,255,1);
}
.splash-header{
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.splash-page-wrapper ul{
  list-style: none;
}
.splash-drop-down-hidden{
  display: none;
}

.splash-drop-down{
  display: flex;
  flex-direction: column;
  top: 45px;
  left: 115px;
  background-color:white;
  color: grey;
  border-radius: 5px;
  animation: dropDown .2s forwards 0s ease-out;
  padding: 15px 10px;
  text-decoration: none;
  margin-right: 8px;
  opacity: .9;
  position: absolute;
  font-size: 12px;
}
.splash-drop-down > li:hover{
  background-color: rgba(185, 185, 185, 1);
  color: rgba(35,35,35,1);
}
.splash-drop-down > li{
  font-size: 12px;
  padding: 3px;
  border-radius: 5px;
}
.splash-art{
  position: relative;
}
.t {
  opacity: .3;

}

.splash-art > img{
  position: absolute;
}
.triangle1{
 top: 255px;
 right: 367px;
}
.triangle2{
 top: 400px;
 left: 384px;
}
.triangle3{
 top: 285px;
 right: 845px;
}
.triangle4{
 top:180px;
 right: 1100px;
}
.dot5{
 top: 242px;
 right: 1526px;
}
.dot1{
 top: 420px;
 right: 754px;
}
.dot2{
 top: 600px;
 right: 1337px;
}
.dot3{
 top: 190px;
 right: 243px;
}
.dot4{
 top: 200px;
 right: 548px;
}
.square1{
 top: 390px;
 right: 984px;
}
.square2{
 top: 620px;
 right: 407px;
}
.square3{
 top: 588px;
 right: 79px;
}
.square4{
 top: 90px;
 right: 875px;
}
.computer{
  z-index: 3;
  top: 45vh;
  right: 35vw; 
}
.x1{
 top: 293px;
 right: 1326px;
}
.x2{
 top: 30px;
 right: 575px;
}
.laptop{
  z-index: 4;
  top: 480px;
  right: 200px; 
}
.headset{
  z-index: 5;
  top: 457px;
  right: 260px; 
}
.phone1{
  z-index: 4;
  top: 72.5vh;
  right: 1270px; 
}
.phone2{
  z-index: 4;
  top: 71.5vh;
  right: 1430px; 
}
.controller{
  z-index: 4;
  top: 720px;
  right: 1080px; 
}
.movin{
  z-index: 2;
  animation: moving 5s infinite 0s ease-in;
}

.bomb{
  z-index: 1;
  top: 260px;
  right: 1300px; 
  animation: moving 5s infinite .05s ease-in-out;
}

.cartridge{
  z-index: 2;
  top: 310px;
  right: 590px; 
}
.coin3{
  z-index: 2;
  top: 290px;
  right: 1260px; 
}
.coin2{
  z-index: 2;
  top: 190px;
  right: 860px; 
}
.box{
  z-index: 2;
  top: 280px;
  right: 1080px; 
}
.box:hover{
  cursor: pointer;
}
.chaching {
  animation: chaching 1s forwards 0s linear;
}
.coin1 {
  z-index: 1;
  top: 280px;
  right: 1085px;
}
.splash-buttons{
  display: flex;
  justify-content: center;
}
.splash-buttons > a{
  padding: 5px 17px 7px;
  border-radius: 3px;
  width: 225px;
  margin: 10px;
}
.splash-buttons > a:hover{
  transform: translateY(2px);
}
.login-link{
  background-color: #7289da;
  color: #fff;
}
.signup-link{
  background-color: #fff;
  color:  #26262b;
}
.splash-footer{
  display:flex;
  justify-content: space-between;
  position: relative;
  bottom: 10px;
  color: white;
  margin-top:50%;
}
.splash-footer > div{
  position:relative;
  left: 50px;
}
footer > div > h2{
    color: white;
    font-size: 26px;
    line-height: 34px;
}
footer > div > h3{
    color: rgba(255,255,255,.75);
    font-size: 14px;
    font-weight: 500;
    margin-top: 4px;
}
.splash-footer > a{
  background-color: #7289da;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
  height: 15px;
  line-height: 15px;
  padding: 16px;
  position: relative;
  right: 50px;
  margin-bottom: 15px;
}

@keyframes dropDown{
0%{
  transform: translateY(-10px);
  scale: 30%;
  opacity: .2;
  }
100%{
  scale: 100%;
  transform: translateY(0px);
  opacity: .9;
  }
}
@keyframes moving{
    0%{
        transform: rotate(0) translateY(-2px);
        }
    25%{
        transform: rotate(0) translateY(-10px);
        }
    71%{
        transform: rotate(0) translateY(10px);
        }
    100%{
        transform: rotate(0) translateY(-2px);
        }
}

@keyframes chaching{
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate3d(0, 1, 0, 180deg) translateY(-120px)
  }
  100%{
    transform: rotate3d(0, 1, 0, 0deg) translateY(0px)
  }
}
